.addparent-header,
.addparent-subheader {	
  margin: 0;  
}

.addparent-header {
  padding-top: 20px;
}

.addparent-subheader {
  padding-bottom: 20px;
}

.parent-info,
.emergency-contact-info,
.additional-info {
  padding: 0 .75rem;
}