/* Global CSS changes */

.content-container {
  position: absolute;
  margin-left: 250px;
  height: calc(100% - 112px);
  overflow: auto;
  width: calc(100% - 250px);
}

.content-wrapper {
  padding: calc(16px + 0.75rem) 16px;
}

.content-wrapper,
.content-container,
.tabbar,
.sidenav,
.sidenav>li>a {
  /* transition: width 2s ease-in-out; */
  transition: all .4s cubic-bezier(.02, .01, .47, 1);
}

/* Add custom .waves-blue class */

.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(30, 136, 229, 0.65);
}

/* Makes wave effect not cover tab's underline */

.waves-effect {
  z-index: 0;
}

/* Lets you click through label to edit form input fields */

form label {
  pointer-events: none !important;
}

/* Edit date field CSS */

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

/* Change select drop down font color */

.dropdown-content li>a,
.dropdown-content li>span {
  color: #1976D2;
}

/* Edit Toast */

.toast {
  justify-content: flex-end;
}

/* Make a large square button class */

.btn-large.btn-square {
  padding: 0 14px;
}

/* SCROLL BAR STUFF */

/* width */

::-webkit-scrollbar {
  width: .75rem;
  height: .375rem;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Makes card have transparent background */

.trans-card {
  background: hsla(0, 0%, 100%, 0.85);
}

.detail-row.active {
  background-color: unset !important;
}

/* Makes tabbar indicitor stay on top */

.indicator {
  z-index: 2;
}

h5,
h4 {
  font-weight: 600;
}

/* Prevent sidenav from dissapearing */
@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    transform: none !important;
    -webkit-transform: none !important;
  }
}