/* /components/Dashboard/DashNewsCard.css */

.news-header {  
  margin-left: -0.75rem;  
  margin-right: -0.75rem;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
}

.news-header-text {
  padding: 0 0.75rem;
}

.news-header-collapse {
  cursor: pointer;
  width: 48px;
  height: 48px;  
  background: #F49738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-header .material-icons {
  pointer-events: none;
}

.news-header.expanded .news-header-collapse .material-icons::after {  
  content: 'expand_more';
}

.news-header.collapsed .news-header-collapse .material-icons::after {  
  content: 'expand_less';
}

.news-header.expanded .news-context {
  height: initial;
}

.news-header.collapsed .news-context {
  height: 0;
}