/* /components/Dashboard/DashNewsCard.css */

.news-header {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
}

.news-header-text {
  padding: 0 0.75rem;
}

.news-header-collapse {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background: #F49738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-header .material-icons {
  pointer-events: none;
}

.news-card.collapsed .news-header-collapse .material-icons::after {
  content: 'keyboard_arrow_left';
}

.news-card.expanded .news-header-collapse .material-icons::after {
  content: 'expand_more';
}

.news-card .news-context {
  transition-duration: .3s;
  transition-property: height;
  overflow:hidden;
}

.news-card.expanded .news-context {
}

.news-card.collapsed .news-context {
}