.corner-image,
.corner-image .material-icons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 500px;
  color: rgba(227, 242, 253, 0.75);
  max-height: calc(100% - 112px - 1.5rem);
  max-width: calc(100% - 48px - 1.5rem);
  pointer-events: none;
}

/* Large and up */

@media only screen and (min-width: 993px) {
  .corner-image,
  .corner-image .material-icons {
    font-size: 600px;
  }
}

/* XLarge and up */

@media only screen and (min-width: 1201px) {
  .corner-image,
  .corner-image .material-icons {
    font-size: 650px;
  }
}

/* XXLarge and up */

@media only screen and (min-width: 1420px) {
  .corner-image,
  .corner-image .material-icons {
    font-size: 750px;
  }
}