.submit-btn {
  margin-bottom: 20px;
}

.parent-students {
  margin-bottom: 1.5rem;
}

.parent-students .open-student {
  margin: 0;
}

.student-parent .open-parent {
  margin: 0;
}

.parent-students .button-col,
.student-parent .button-col {
  width: calc(48px + 1.5rem);
}

.parent-students .data-col,
.student-parent .data-col {
  width: calc(100% - 48px - 1.50rem);
}

.parent-invoices .invoice-col {
  width: calc(100% - 48px - 1.5rem);
}

.parent-invoices .detail-col {
  width: calc(48px + 1.5rem);
}