.input-field .tab>a {
  border-right: 0;
  background-color: #1976D2;
  padding: 0 12px;
}

.input-field .tab>a>i.material-icons {
  position: relative;
  top: 6px;
  margin-right: 12px;
}

.parent-searchbtn>a,
.student-searchbtn>a {
  margin-top: 15px;
}

.search-selector .search-selector-container {
  padding: 0 1.5rem;
}