.tabbar {
  margin-left: 200px;
}

.tabbar>.col {
  padding: 0;
}

.tabbar.row {
  margin-bottom: 0;
}

.tabbar .tab>a {  
  border-right: 1px solid #1360A4;
  background-color: #1976d2;
}

.tabbar .tab>a>i.material-icons {
  padding: 0;
  margin: 0 12px;
  position: relative;
  top: 6px;
}

.tabbar .tab>a>i.material-icons.close-tab:hover {
  color: #E83B3B !important;
}

.tabbar .tabs>.tab>a {
  padding: 0;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}