.tabbar {
  position: relative;
  z-index: 0;
  margin-left: 250px;
}

.tabbar>.col {
  padding: 0;
}

.tabbar.row {
  margin-bottom: 0;
}

.tabbar .tab>a {
  border-right: 1px solid #1360A4;
  background-color: #1976d2;
}

.tabbar .tab>a i.material-icons {
  padding: 0;
  margin: 0 12px;
  position: relative;
  top: 6px;
}

.tabbar .tab>a i.material-icons.close-tab:hover {
  color: #E83B3B !important;
}

.tabbar .tabs>.tab>a {
  padding: 0;
}

.tabs .active,
.tabs .active>i.material-icons {
  color: #333 !important;
}

.tabs .active {
  background-color: #fff !important;
}