/* InvoiceResultsRow.css */

.invoice-col {
  width: calc(100% - 170px);  
}

.detail-col {
  width: 170px;
}

.pay-col {
  padding-left: 0 !important;
  margin-left: .75rem !important;
  white-space: nowrap;
  overflow: hidden;
}

.type-info {
  font-weight: bold;
}

.pay-col {
  overflow: auto;
}

.info-col.s5 {
  width: calc(41.66667% - .75rem) !important;
}

.pay-col {
  width: calc(41.66667% - 1.5rem) !important;
}

.due-status.overdue {
  background-color: #D32F2F;
}

.due-status.pending {
  background-color: #ff9800;
}

.due-status.paid {
  background-color: #4caf50;
}

.payment-status.paid {
  background-color: #2196f3;
}

.payment-status.notpaid {
  background-color: #222;
}